---
import Layout from "../layouts/Layout.astro";
import CV from "../components/CV.astro";
import H1 from "src/components/atoms/h1.astro";
---

<Layout title="Hi I'm">
  <main class="w-full md:w-auto px-4 md:px-0 md:mx-auto">
    <H1>Hello!</H1>
    <CV />
  </main>
</Layout>
