---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/Navigation.astro";
const { title, description } = Astro.props;
---

<!doctype html>
<html data-mode="dark" lang="en">
  <head>
    <script is:inline>
      (function () {
        const _m = document.cookie.split("darkMode=")[1]?.split(";")[0];
        document.documentElement.dataset.mode = _m;
      })();
    </script>
    <BaseHead title={`${title} Sebastian`} description={description} />
  </head>
  <body
    class="flex bg-neutral-100 dark:bg-dark-color flex-col w-screen h-screen text-pretty tracking-wide antialiased py-2"
    transition:animate="none"
  >
    <Navigation />
    <slot />
  </body>
</html>

<script>
  import { applyDarkMode } from "src/scripts/theme";
  applyDarkMode();
</script>
